body{
    background-color:black;
}
.gameimg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
    border: 4px solid white;
}
#gamep-pt{
    position: absolute;
    top: 175px;
    left: 75px;
    font-family: "Rubik Spray Paint";
    color: white;
}
#gamep-oo{
    position: absolute;
    top: 175px;
    left: 310px;
    font-family: "Rubik Spray Paint";
    color: black;
}
#version{
    color: white;
    position: absolute;
    right: 0px;
    bottom: 3px;
}